<div class="m-3">
  <h1>Stupid coaching</h1>
  <p>Ask your coach anything:</p>
  <form class="input-group mb-3" action="/answer" data-turbo="false" method="get">
    <input type="text" name="key">
    <input type="submit" value="Ask" class="btn btn-primary">
  </form>
</div>
